<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body-bg-users">
  <div class="container">
    <h2>User and Group Management</h2>
    
    <h2>Your Details</h2>
    <div id="user-details-container">
        <p>Loading your details...</p>
    </div>

    <h2>Group Management</h2>
    <div id="group-status-container">
        <p>Loading group status...</p>
    </div>
    <div id="group-actions-container">
    </div>

    <div id="group-details-container"> <!-- Added this div for group details -->
    </div>

    <div id="users-list-container" style="display: none;"> 
      <h3>All Users</h3>
      <div id="users-list">
      </div>
    </div>

    <a class="back-link" href="/main">Back to Dashboard</a>
  </div>
  <script src="/js/users.js"></script> 
</body>
</html>
